<<<<<<< HEAD
@import URL("../skeleton-2.0.4/css/normalize.css");
@import URL("../skeleton-2.0.4/css/skeleton.css");

header {
  background-image: url(../img/salmon.png);
  background-size: 20%;
  background-repeat: repeat-x;
  background-color: #30225a;
  font-family: lobster, serif;
  font-weight: normal;
  color: #bbb0de;
  text-align: center;

}
header h1 {
  font-size: 3.5em;
  margin: 0;
  padding-top: 1em;
  line-height: 90%;
}
body {
  background-color: #b76f4a;
  font-family: 'times new roman', times, sans-serif;
}
h1 {
  padding-bottom: .2em;
}
h2 {
  line-height: 75%;
}
p {
  font: helvetica, sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  padding-left: 10px;
  padding-right: 10px;
}
nav a {
  font-family: roboto;
  text-decoration: none;
  color: #abb448;
}
li {
    list-style-type: none;
}
h3 {
  font-family: abel;
  text-align: center;
  font-weight: bolder;
}
footer p {
  text-align: center;
  font-weight: bold;
  border: solid #3613AD 4px;
}
footer a {
  display: inline-block;
  padding-left: 15%;
  color: #3613AD;
  font-size: 1.2em;
}
IMG.cookie {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.bGround {
  width: 100%;
  height: auto;
}
.navList{
  display: inline;
  padding: 20px;
  font-size: 1.7em;
}
.navList:hover {
  color: #f90;
}
.container{
  background-color: #bbb0de;
}
.loc {
  font-weight: bold;
}
.cap {
  font-size: 1.3em;
  color: #B5150F;
  text-align: center;
  margin: auto 30%;
}
.merch {
  text-align: center;
  /*padding-top: 2em;*/
  font-weight: 200;
}
.time {
  margin: auto 40%;
}
.patsJabber {
  background-color: #9D344B
}
.history {
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
}
.canvas-source {
  position: absolute;
  z-index: 200;
  opacity: 0.2;
  display: none;
}
.sBurger {
  font-size: 1.4em;
  font-weight: bolder;
  margin: 0 30%;
}
.btn {
  position: fixed;
  /*position: absolute;*/
  z-index: 10;
  right: 20px;
  bottom: 20px;
  padding: 10px;
  background: #247886;
  color: #fff;
  border: none;
}

.dg {
  z-index: 999;
}
.dg input,
.dg select {
  color: #000;
}
